<div class="container">
    <div class="row">
        <h1 class="display-5 text-center mb-5">Chat con MongoDB</h1>
        <div id="messages" class="col-md-4"></div>
        <div class="col-md-4 offset-md-2">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="usermessage" class="form-label">Mensaje</label>
                <input type="text" class="form-control" id="usermessage">
            </div>
            <button type="button" class="btn btn-primary" id="btnSendMessage">Enviar Mensaje</button>    
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
