    <!doctype html>
    <html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <a href="/" title="Dix"><img src="https://www.sampleo.com/uploads/brands/50/logo/6482e9a4f055d.png" alt="Dix" width="120"></a>
                </div>
                <div class="mx-auto">
            <form class="d-flex" method="GET">
            <div class="input-group">
                <input class="form-control me-2" type="text" placeholder="Buscar productos..." name="q" />
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </div>
            </form>
        </div>
            <div class="col d-flex align-items-center justify-content-end">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/realtimeproducts">Productos en Tiempo Real</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{{body}}}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <h3>Rocket League</h3>
                <img src="https://i.scdn.co/image/ab67706c0000da84e204b6240dd475113fa235e0" alt="">
                <p>¡Experimenta la acción de fútbol de alta octanaje con Rocket League!</p>
            </div>
            <div class="col-md-4">
                <h3>Genshin Impact</h3>
                <img src="https://lutear.com/wp-content/uploads/2020/09/genshin-impat-logo.jpg" alt="">
                <p>Embárcate en un viaje a través del mundo fantástico de Teyvat en Genshin Impact.</p>
            </div>
            <div class="col-md-4">
                <h3>Fortnite</h3>
                <img src="https://assets-prd.ignimgs.com/2023/06/09/fortnitewilds-1686353306240.jpg?width=300&crop=1%3A1%2Csmart" alt="">
                <p>Únete al fenómeno battle royale y construye, lucha y sobrevive en Fortnite.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <p>Tienda de Videojuegos Dix - Desarrollado por <b>Julio Sanchez</b></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
